<div class="about-inner">
	<h2>ABOUT</h2>

	<h3>MUGEN LUNCH</h3>
		<div class="about-intro">
			<div class="intro-box">
				<p>
					毎日のランチタイムにあたなが求めるものはなんでしょうか。<br>
					スピード・価格・栄養・ボリュームなどの条件がありますが人によって求めるものは違うと思います。<br>
					職場におけるランチタイムは限られた時間で自分の条件にあったお店選びをしなければなりません。<br>
					しかし限られた時間・行動範囲だからこそついつい同じお店を選びがちではありませんか？<br>
					<div class="emphasis">「限られた時間に無限大の可能性」</div>
					というテーマを元にランチタイムをより充実させるためのお店情報を提案させていただきます。
				</p>
			</div>
		</div>

		<h3>サイトの特徴</h3>

		<div class="feature">

			<div class="feature-box">
				<%= image_tag('pizza.jpg', class: "about-img")%>
				<p>近くにあったけど知らなかったお店や気になっていたけど入れなかったお店との出会い。</p>
			</div>

			<div class="feature-box">
				<%= image_tag('search.jpg', class: "about-img")%>
				<p>金額・条件にあったお店選びができます。</p>
			</div>

			<div class="feature-box">
				<%= image_tag('map.jpg', class: "about-img")%>
				<p>my pointを登録すれば周辺のお店の一覧が見られます。</p>
			</div>
		</div>
</div>


