
<div class="top-background">
	<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

	<div class="top-ttl">Welcomo to    <br>MUGEN LUNCH</div>
	<div class="top-links">
		<%= link_to "ログイン",new_user_session_path,class: "btn-top" %>
		<%= link_to "会員登録",new_user_registration_path ,class: "btn-top" %>
		<%= link_to "店舗一覧を見てみる",restaurants_path,class: "btn-top"  %>
	</div>

</div>