<h2>top</h2>

<ul class="bxslider">
  <li><img src="/images/cafe.jpg" /></li>
  <li><img src="/images/coffee.jpg" /></li>
  <li><img src="/imagesra-men.jpg" /></li>
  <li><img src="/images/fork.jpg" /></li>
</ul>