<h2>店舗情報編集</h2>
<%= link_to "店舗情報に戻る", restaurant_path(@restaurant),class: "btn btn-success" %>
<% render "restaurants/form", restaurant: @restaurant, url: restaurant_path(@restaurant), submit: '店舗情報更新'%>