<h2>RESTAURANT EDIT</h2>
<%= render "layouts/error", resouce: @restaurant %>
<div class="return-r-info"><%= link_to "店舗情報に戻る", restaurant_path(@restaurant),class: "btn-return-r-info"%></div>
<%= render "restaurants/form", restaurant: @restaurant, url: restaurant_path(@restaurant), submit: '更新する'%>